@font-face {
	font-family: 'HKGrotesk';
	src: url('../fonts/HKGrotesk-Light.otf');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'HKGrotesk';
    src: url('../fonts/HKGrotesk-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: whitesmoke;
  transition: background-color 1s ease-out;
}

*{
  padding: 5px;
  color: #787878;
  font-family: 'HKGrotesk';

}

.page-fade-appear {
  opacity: 0;

}

.page-fade-appear.page-fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear 300ms;
}

.page-fade-enter {
  opacity: 0;


}

.page-fade-enter.page-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 300ms;

}

.page-fade-exit {
  opacity: 1;
}

.page-fade-exit.page-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}
  