:root {
  --targetX: 0;
  --targetY: 0;
}

.eduContainer {
  position:absolute;
  left: 10%;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  font-size: 1em;
  z-index: 1;
  align-self: center;
}

.eduInnerCard {
  float: left;
  max-width: 50%;
  width: 50%;
  padding: 20px;
  text-align: left;
  color: #787878f3;
  cursor: pointer;
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.5s both;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
  z-index: 0;
  margin-right: auto;
}

.eduDescription {
  animation: edu-slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
    both;
  z-index: -1;
  position: absolute;
}

h1,
h2,
h3 {
  margin: 0px;
}

@media screen and (max-width: 1100px) {
  * {
    padding: 3px;
  }
  .eduContainer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .eduInnerCard {
    margin: auto;
    font-size: 0.5em;
    text-align: center;
  }
}

@-webkit-keyframes edu-slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes edu-slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes edu-focus-element {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(var(--targetX)) translateY(0);
  }

  100%{
    transform: translateX(var(--targetX)) translateY(var(--targetY));
  }
}

@keyframes edu-rewind-id1 {
  0%{
    transform: translateX(var(--originXEduId1)) translateY(var(--originYEduId1));
  }
  50%{
    transform: translateX(var(--originXEduId1)) translateY(0);
  }
  100%{
    transform: translateX(0) translateY(0);
  }
}

@keyframes edu-rewind-id2 {
  0%{
    transform: translateX(var(--originXEduId2)) translateY(var(--originYEduId2));
  }
  50%{
    transform: translateX(var(--originXEduId2)) translateY(0);
  }
  100%{
    transform: translateX(0) translateY(0);
  }
}

@keyframes edu-rewind-id3 {
  0%{
    transform: translateX(var(--originXEduId3)) translateY(var(--originYEduId3));
  }
  50%{
    transform: translateX(var(--originXEduId3)) translateY(0);
  }
  100%{
    transform: translateX(0) translateY(0);
  }
}