.expContainer {
  position: absolute;
  left: 5%;
  right: 5%;
  overflow: hidden;
  z-index: 1;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 33.3%  33.3%  33.3%;
  justify-content: space-evenly;
}

.expInnerCard {
  margin: auto;
  margin: 30px 10px;
  padding: 5px 10px;
  text-align: center;
  color: #787878f3;
  font-size: 0.8em;
  cursor: pointer;
  border-left-style: dashed;
  border-right-style: dashed;
  overflow: hidden;

}

.expDescription {
  animation: exp-slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s
    both;
  z-index: -1;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 0px;
}

@media screen and (max-width: 1100px) {
  * {
    padding: 3px;
  }
  .expContainer {
    max-width: 100%;
    margin: auto;
    margin-top: -3%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .expInnerCard {
    max-width: 100%;
    width: 100%;
    margin: auto;
    margin-top: 3px;
    padding: 0;
    font-size: 0.5em;
    text-align: center;
    border: none;
    background: white;
  }

  h1, h2, h3 {
    padding: 2px;
  }
}

@-webkit-keyframes exp-slide-in-bottom {
  0% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes exp-slide-in-bottom {
  0% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes exp-focus1 {
  0% {
    -webkit-transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(100%) scale(1.2);
  }
}

@keyframes exp-focus2 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0%) scale(1.2);
  }
}

@keyframes exp-focus3 {
  0% {
    -webkit-transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%) scale(1.2);
  }
}

@keyframes exp-focus4 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
  }
  70% {
    -webkit-transform: translateX(100%) translateY(0);
  }
  100% {
    -webkit-transform: translateX(100%) translateY(-50%) scale(1.2);
  }
}

@keyframes exp-focus5 {
  0% {
    -webkit-transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(-50%) scale(1.2);
  }
}

@keyframes exp-focus6 {
  0% {
    -webkit-transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%) translateY(-50%) scale(1.2);
  }
}

@keyframes exp-unfocus1 {
  0% {
    -webkit-transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(100%) scale(1.2);
  }
}

@keyframes exp-unfocus2 {
  0% {
    -webkit-transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(0%) scale(1.2);
  }
}

@keyframes exp-unfocus3 {
  0% {
    -webkit-transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%) scale(1.2);
  }
}

@keyframes exp-unfocus4 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
  }
  70% {
    -webkit-transform: translateX(100%) translateY(0);
  }
  100% {
    -webkit-transform: translateX(100%) translateY(-50%) scale(1.2);
  }
}

@keyframes exp-unfocus5 {
  0% {
    -webkit-transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(-50%) scale(1.2);
  }
}

@keyframes exp-unfocus6 {
  0% {
    -webkit-transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%) translateY(-50%) scale(1.2);
  }
}
