.staggered-list-content {
    width: 30%;
    margin: 2rem auto;
    animation: "edu-slide-in-bottom" 1s ease both;

  }

  .list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
 
  }
  .list li {
    width: 100%;

  }
  .list li + li {
    margin-top: 1rem;
  }
  .listItem {
    width: 100%;
    cursor: pointer;
    /*background-color: whitesmoke; */
  }
  .listItemContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }
  .avatar {
    border-radius: 50%;
    margin-right: 2rem;
    width: 4rem;
    height: 4rem;
    background: inherit;
    object-fit: cover;

  }
  .avatarExpanded {
    width: 8rem;
    height: 8rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .description{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .description > div {
    width: 8rem;
    border-radius: 6px;
    /*background: grey; */

  }
  .description > div:nth-of-type(2) {
    width: 11rem;
  }
  .description > div:nth-of-type(3) {
    width: 14rem;
  }
  .description > div + div {
    margin-top: 1rem;
  }
  .expandedListItem .description {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .expandedListItem {
    cursor: pointer;
    background-color: whitesmoke;
  }
  .expandedListItemContent {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .additional-content {
    width: 100%;
    margin-top: 2rem;
    display: none;
  }
  
  .additional-content > div {
    opacity: 0;
    border-radius: 3px;
    background-color: #282c34;
    height: 5rem;
  }

  .preview{
    height: 50%;
    width: 60%;
    position: absolute;
    right: 10%;

  }